.api-baslik {
  background-image: url('mikrofon.jpeg'); 
  background-size: cover;              
  background-position: center;         
  color: white;                        
  padding: 100px;                       
  text-align: center;                  
}

.site-footer {
  background-color: #800000;
  color: #ffcccc;
  padding: 15px 0;    
  width: 100%;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
