.cv-baslik {
    color: #800000;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

aside {
    flex: 0 0 30%;
    padding: 10px;
    background: #ffcccc;
    text-align: center;
}

article {
    border-bottom: 1px solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

section {
    flex: 0 0 70%;
    padding: 20px;
 }

.site-footer {
    background-color: #800000;
    color: #ffcccc;
    padding: 15px 0;    
    width: 100%;
}

.progress{
    width: 200px;
    background-color:#d4cece;
}

aside img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px; /* hafif köşe yumuşatma */
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}