<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim Sayfası</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="iletisimstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="hakkinda.html"><i class="fa-solid fa-house me-2"></i>Hakkımda</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="cv.html"><i class="fa-solid fa-file me-2"></i>Özgeçmiş</a></li>
                    <li class="nav-item"><a class="nav-link" href="sehrim.html"><i class="fa-solid fa-city me-2"></i>Şehrim</a></li>
                    <li class="nav-item"><a class="nav-link" href="takim.html"><i class="fa-regular fa-futbol me-2"></i></i>Takımımız</a></li>
                    <li class="nav-item"><a class="nav-link" href="api.html"><i class="fa-solid fa-face-smile me-2"></i>İlgi Alanlarım</a></li>
                    <li class="nav-item"><a class="nav-link" href="iletisim.html"><i class="fa-solid fa-square-phone me-2"></i>İletişim</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fa-solid fa-key me-2"></i>Giriş</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div id="app" class="d-flex justify-content-center align-items-center flex-column">
  <h2 class="text-center mb-4">İLETİŞİM FORMU</h2>
  <div class="card" style="max-width: 500px; width: 100%;">
    <div class="card-body">
    <label>Ad:</label>
    <input type="text" v-model="ad" placeholder="adınızı giriniz">

    <label>Soyad:</label>
    <input type="text" v-model="soyad" placeholder="soyadınızı giriniz.">

    <label>Doğum Tarihi:</label>
    <input type="date" v-model="dogumTarihi">

    <label>E-posta:</label>
    <input type="text" v-model="email" placeholder="deneme@gmail.com">

    <label>telefon Numarası:</label>
    <input type="text" v-model="telefon" placeholder="0555 555 55 55">

    <label>Cinsiyet:</label>
    <input type="radio" value="Kadın" v-model="cinsiyet"> Kadın
    <input type="radio" value="Erkek" v-model="cinsiyet"> Erkek

    <label>Düşünceleriniz:</label>
    <textarea v-model="dusunce"></textarea>

    <label>Siteye yıldızınız:</label>
    <select v-model="yildiz">
    <option disabled value="">Lütfen yıldız seçin.</option>
    <option>⭐</option>
    <option>⭐⭐</option>
    <option>⭐⭐⭐</option>
    <option>⭐⭐⭐⭐</option>
    <option>⭐⭐⭐⭐⭐</option>
    </select>

    <br><br>
    <button type="button" class="btn-pano" @click="temizle">Temizle</button>
    <button type="button" class="btn-pano" @click="gonder">Gönder</button>

    <p style="color:red;">{{ mesaj }}</p>
  </div>
</div>
</div>

<script src="form.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<br><br>
    <footer class="site-footer">
    <div class="container text-center py-3">
        <p>&copy; 2025 Tüm Hakları Saklıdır.</p>
    </div>
</footer>
</body>
</html>
