 body {
    background-color: #ffe6e6;
 }

.navbar {
    background-color: #800000;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.site-footer {
    background-color: #ffcccc;
    color: #800000;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

.orta-alan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 100px; /* Burayı isteğine göre artırıp azaltabilirsin */
    text-align: center;
}

.orta-alan h2 {
    font-size: 60px;
    color: #800000;
    margin-bottom: 20px;
}

.orta-alan p {
    margin-bottom: 10px; /* varsayılan genelde 16-20px oluyor */
}



